.sideBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-color: var(--light-gray-2);
  color: #fff;
  padding: 16px;
  overflow: hidden;
}

.menuCustom {
  border-right: 0 !important;
  background-color: var(--light-gray-2) !important;
  color: #fff !important;

  display: inline-block; 
  padding: 8px 0;
  width: 100%; 
  max-height: fit-content;
  overflow-y: visible;
}


.menuCustom .ant-menu-item {
  color: #fff !important;
}

.menuCustom .ant-menu-item-selected {
  background-color: var(--soft-brown-2) !important;
  color: #4A4A4A !important;
}

.imageWrapper {
  margin-top: 20px;
  text-align: center;
}